@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700&family=Roboto:wght@400;700&display=Grechen+Fuemen&display=swap");

/*
font-family: 'Kaisei Tokumin', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Grechen Fuemen', cursive;
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
li {
  list-style-type: none;
  text-align: left;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 400;
}
section {
  border: 1px dotted blue;
  margin: 0 auto;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  margin: 1rem 0;
}
p {
  font-family: "Kaisei Tokumin", serif;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.container {
  border: 1px dotted red;
  margin: 0 auto;
  width: 96%;
}

/*** Header ***/
header {
  position: fixed;
  width: 96%;
  background-color: cyan; /*temp*/
  z-index: 1000;
}
.logo {
  flex-basis: 15%;
  background-color: darkgoldenrod; /*temp*/
  font-family: "Grechen Fuemen", cursive;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  position: absolute;
  left: -120%;
  top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(152, 165, 235);
  flex-basis: 80%;
  transition: 0.3s;
}
.nav-menu.active {
  left: 0;
  width: 100%;
  min-height: 30vh;
}
.nav-menu.active .nav-link {
  padding: 1rem;
  display: inline-block;
}
.nav-menu.active .nav-link:hover {
  background-color: chocolate;
  font-size: 1.2rem;
}
.hamburger {
  display: block;
  cursor: pointer;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav-link:hover {
  color: #482ff7;
}

/*** Welcome section ***/
.welcome__article {
  margin: 0 auto;
  width: 70%;
}
.welcome__article figure {
  margin: 2rem 0;
}
.welcome__article img {
  width: 100%;
  border-radius: 50%;
}

/*** skills section ***/
.skills-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}
.hard-skills {
  flex-basis: 15%;
  text-transform: uppercase;
  line-height: 1.8rem;
}
.hard-skills li {
  text-align: right;
}
.skills-levels {
  flex-basis: 50%;
}
.level-box {
  width: 100%;
  background-color: #ddd;
}
.level {
  text-align: right;
  color: white;
  line-height: 1.8rem;
}
.html {
  width: 80%;
  background-color: mediumorchid;
}
.css {
  width: 70%;
  background-color: mediumpurple;
}
.js {
  width: 50%;
  background-color: mediumseagreen;
}
.git {
  width: 50%;
  background-color: orchid;
}
.figma {
  width: 20%;
  background-color: deepskyblue;
}
.node {
  width: 15%;
  background-color: royalblue;
}
.language-list {
  width: 30%;
  margin: 0 auto;
}
.language-list li {
  text-align: center;
}

/* Portfolio Slider */
.slider-container {
  border: 1px dotted rgb(0, 183, 255);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}
.slider-container button {
  display: block;
  flex-basis: 7%;
  font-size: 2.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: slateblue;
}

.slider-container button:hover {
  color: blue;
}
.slider {
  position: relative;
  flex-basis: 90%;
  height: 320px;
  border: 1px dotted red;
  overflow: hidden;
}
.slide {
  position: absolute;
  border: 1px solid blue;
  display: none;
  animation: 0.5s ease-in-out;
  width: 100%;
}
.slide h4 {
  margin: 0.5rem auto;
}
.slide img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.active,
.next {
  display: block;
}

.to-left {
  animation-name: left;
}
.to-right {
  animation-name: right;
  animation-direction: reverse;
}
.from-left {
  animation-name: left;
  animation-direction: reverse;
}
.from-right {
  animation-name: right;
}

.example {
  margin: 0 auto;
  width: 90%;
}
pre {
  text-align: left;
}

/*** Education ***/
/* .education {
  width: 95%;
} */
.edu-lists {
  padding: 0 1rem;
}
.cert-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cert-box {
  width: 250px;
}
.cert-container img {
  width: 100%;
}

/* About */
.about {
  width: 95%;
  margin: 0 auto;
}
.about iframe {
  width: 100%;
  height: 315px;

  border: none;
}

/* Contacts */
.contacts {
  width: 95%;
}

/* Footer */
.footer-icons {
  display: flex;
  margin: 0 auto;
  width: 95%;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
}

@keyframes left {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@media screen and (min-width: 480px) {
  .container,
  header {
    max-width: 1100px;
  }
  .nav-menu {
    position: static;

    flex-direction: row;
    justify-content: right;
    gap: 2%;
  }
  .nav-link {
    padding: 1rem 0;
  }
  .nav-link:hover {
    background-color: ivory; /*temp*/
    color: lightskyblue; /*temp*/
  }
  .hamburger {
    display: none;
  }
  /***Welcome***/
  .welcome__article {
    width: 50%;
  }
  .welcome__article img {
    width: 70%;
    border-radius: 50%;
  }
  /***Skills section***/

  /*** Examples***/
  pre {
    margin: 0 auto;
    width: 60%;
  }
  .slider-container {
    width: 55%;
    height: 450px;
  }
  .slider {
    height: 385px;
  }
  .slide img {
    height: 320px;
  }
  /*** education ***/
  .edu-lists li {
    text-align: center;
  }
  .cert-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
/*Temp*/
section {
  min-height: 100vh;
  padding-top: 8rem;
}
